
    *{
        padding: 0;
        margin: 0;
    
    .cuerpo{
        background-color: black;
        height: 625px;

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: white;
        padding-top: 2vh;

        
        .navCategoria{
            font-family: 'Mate SC', serif;
            font-size: 17px;
            color: white;
            text-decoration: none;
        
                list-style: none;
        }
        .navCategoria:hover{
            color:#FFB740 ;
         animation: nav 1s;
         }
         @keyframes nav{
            0%{
                font-size: 17px;
            }
                100%{
                    font-size: 19px;
                }
            }

            .navTitulo{
                font-family: 'DM Serif Display', serif;
                font-size: 23px;
                color: white;
                text-decoration: none;
        
                list-style: none;
            }   
        }

        
        h2{
            color: white;
            font-family: 'DM Serif Display', serif;
            font-weight: lighter;
            margin-top: 60px;
            margin-left: 100px;
            animation: texto 4s;
        }
                    
        h3{
            color: white;
            font-family: 'Mate SC', serif;
            font-weight: lighter;
            margin-left: 100px;
            animation: texto 4s;
        }

        #contenedorPrimario{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
          margin-top: 20px;
          animation: texto 4s;
        
        .tituloSecundario{
            color: white;
            font-family: 'Mate SC', serif;
            font-size: 30px;
        }
        .enlace{
            text-decoration: none;
            color: #FFB740;
            font-family: 'Mate SC', serif;
        }

        .imagen{
            height: 350px;
            width: 200px;
        }

    }
    }

        



    
    footer{
        background-color: black;
        margin: 0px;
        .horariosFooter{
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;
            font-family: 'Mate SC', serif;
            .horarios{
                color: white;
            }
            .dias{
                color: #FFB740;
                
            }
        }
    }
    }